#stats-display {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#stats-display figure {
  padding: 0px 20px 15px;
  margin: 10px;
}
#stats-display .value-display {
  color: #505050;
  font-size: 40px;
}

#chart {
  align-items: flex-end;
  border: gray 2px solid;
  display: flex;
  height: 400px;
  margin: 0 auto 50px;
  position: relative;
  width: 1000px;
}

.chart-title {
  margin: auto;
  width: 1000px;
  font-size: 24px;
}

.chart-col {
  background: #529F15;
  height: 250px;
  margin: 0 1px 0 0;
  width: 1px;
}

.chart-overlay {
  background: rgba(239, 71, 111, 0.2);
  position: absolute;
}
.chart-overlay.partial {
  background: rgba(243, 182, 31, 0.2);
}
.chart-label {
  padding: 0;
  position: absolute;
  font-size: 11px;
}

.chart-label.y-axis {
  text-align: right;
  padding-right: 3px;
}

body {
  margin: 20px auto;
  width: 1200px;
}

input[type="date"] {
  width: 150px;
}

select {
  width: 325px;
}
/*EF476F, F3B61F 346, 70, 94 ; 43, 87, 95*/